@{
    ViewData["Title"] = "Typical security vulnerabilities samples";
}


<div class="row">
    <div class="col-md-3">
        <h3>SQL Injection Not Secure</h3>
        <ul>
            <li><a asp-area="" asp-controller="NotSecureProducts" asp-action="Search">Not Secure Products Search</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>SQL Injection Secure</h3>
        <ul>
            <li><a asp-area="" asp-controller="SecureProducts" asp-action="Search">Secure Products Search</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Overview</h3>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Run &amp; Deploy</h3>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
